<h2>
  <%= image_tag @user.avatar_url, width: 50, height: 50 %>
  <%= link_to @user.username, @user.profile_url %>
</h2>

<h3>Repositories</h3>
<%- if @repos.empty? -%>
<p>No repos enabled yet!</p>
<%- else -%>
<%- @repos.group_by { |r| r.owner.login }.each do |org, repos| -%>
  <h4><%= link_to org, repos.first.owner.html_url %></h4>
  <dl>
    <%- repos.each do |repo| -%>
      <dt><%= link_to repo.full_name, repo.rels[:html].href %></dt>
      <dd><%= repo.description %></dd>
    <%- end -%>
  </dl>
  <%- end -%>
<%- end -%>

<h4>Add Repository</h4>
<%= form_for Reviewership.new do |f| %>
  <%= f.fields_for Repo.new do |r| %>
    <div>
      <%= r.label "owner" %><br>
      <%= r.text_field "owner" %>
    </div>
    <div>
      <%= r.label "name" %><br>
      <%= r.text_field "name" %>
    </div>
  <% end %>
  <%= f.submit "Add" %>
<% end %>