<h2>
  <%= image_tag @user.avatar_url, width: 50, height: 50 %>
  <%= link_to @user.username, @user.profile_url %>
</h2>

<h3>Repositories</h3>
<%- if @repos.empty? -%>
<p>No repos enabled yet!</p>
<%- else -%>
<%- @repos.group_by { |r| r.name.split('/').first }.each do |org, repos| -%>
  <h4><%= link_to org, "https://github.com/#{org}" %></h4>
  <ul>
    <%- repos.each do |repo| -%>
      <li>
        <%= link_to repo, "https://github.com/#{repo}" %>
        <ul>
          <%- repo.port_branches.each do |port_branch| -%>
            <li>Port PRs made to <strong><%= port_branch.base %></strong> to development branch <strong><%= port_branch.dev %></strong></li>
          <%- end -%>
          <li>
            <%= form_for [repo, PortBranch.new] do |f| %>
                New port:
                <%= f.label "base", "base branch name" %>
                <%= f.text_field "base" %>
                <%= f.label "dev", "dev branch name" %>
                <%= f.text_field "dev" %>
                <%= f.submit "Add" %>
            <% end %>
          </li>
        </ul>
      </li>
    <%- end -%>
  </ul>
  <%- end -%>
<%- end -%>

<h4>Add Repository</h4>
<%= form_for Reviewership.new do |f| %>
  <%= f.fields_for Repo.new do |r| %>
    <div>
      <%= r.label "name", "owner/reponame" %><br>
      <%= r.text_field "name" %>
    </div>
  <% end %>
  <%= f.submit "Add" %>
<% end %>
